@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #4b5155;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
}

.calculator {
    position: relative;
    width: 450px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #222425;
    box-shadow: 14px 14px 20px #000000, -14px -14px 20px #4b5155;
}

.calc-button {
    background: #0d0d0e;
    border: none;
    outline: none;
    padding: 20px;
    color: rgb(223, 23, 23);
    border-radius: 50%;
    font-size: 22px;
    font-weight: lighter;
    /* larger fonts */
    cursor: pointer;
    /* make it look clickable */

    box-sizing: border-box;
   

}

.title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #f24f1d;
    letter-spacing: 1px;
}

.input {
    background: #000000;
    color: rgb(4, 141, 253);
    width: 100%;
    display: block;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    margin-top: 30px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 14px;
    font-weight: lighter;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #000000, inset -6px -6px 6px #1d1c1c;
}

.calculator-buttons {
    /* small spacing within our container */
    padding: 20px;

    /* the grid stuff! */
    display: grid;

    /* create 4 columns */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

a {
    position: absolute;
    font-size: 9px;
    bottom: 4px;
    right: 4px;
    text-decoration: none;
    color: black;
    background: rgb(255, 255, 3);
    border-radius: 10px;
    padding: 2px;
}

button:hover {
    background: #c5c9ce;
    box-shadow: 6px 6px 6px #e2dfdf,6px -6px -6px #b4b0b0;
}
@media(max-width:480px){
    
        .calculator {
            position: relative;
            width: 350px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            padding: 40px;
            box-sizing: border-box;
            background: #222425;
            box-shadow: 14px 14px 20px #000000, -14px -14px 20px #4b5155;
        }
    
}
