@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #ecf0f3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: poppins;
}

.calculator {
    position: relative;
    width: 95%;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.calc-button {
    background: #ecf0f3;
    /* light background with opacity 50% */
    border: none;
    outline: none;
    /* black border */
    padding: 20px;
    color: rgb(223, 23, 23);
    /* white text */
    border-radius: 50%;
    /* rounded corners */
    font-size: 22px;
    font-weight: lighter;
    /* larger fonts */
    cursor: pointer;
    /* make it look clickable */

    box-sizing: border-box;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;

}

.title {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #f24f1d;
    letter-spacing: 1px;
}

.input {
    background: #ecf0f3;
    color: rgb(4, 141, 253);
    width: 100%;
    display: block;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    margin-top: 30px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 14px;
    font-weight: lighter;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.calculator-buttons {
    /* small spacing within our container */
    padding: 20px;

    /* the grid stuff! */
    display: grid;

    /* create 4 columns */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

a {
    position: absolute;
    font-size: 9px;
    bottom: 4px;
    right: 4px;
    text-decoration: none;
    color: black;
    background: rgb(255, 255, 3);
    border-radius: 10px;
    padding: 2px;
}

button:hover {
    background: #c5c9ce;
    box-shadow: 6px 6px 6px #b4b0b0, -6px -6px 6px #ffffff;
}
